{% extends 'student/student_template.html.twig' %}

{% block css %}{% endblock %}

{% block body %}
    <div class="container">
    <a href="{{ path('student_main', {'studentId':studentId}) }}"><button>Back</button></a>
    <h2>{{ examData.examTitle }}</h2>

    <table class="table"><tr>
        <td><table class="table table-bordered table-striped" id="result_table">
            <tr>
                <th>
                    Question
                </th>
            </tr>{% set i = 0 %}
            {% for question in questionData %}
                <tr><td><span class="badge">
                        {% set i = i + 1 %}
                        Q{{ i }}</span>
                {{ question }}
                    </td></tr>
            {% endfor %}
        </table></td>
            <td><table class="table table-bordered table-striped" id="result_table">
                    <tr><th>
                            Answer
                        </th></tr>
                    {% for answer in answerData %}
                        <tr><td>
                                {{ answer }}
                            </td></tr>
                    {% endfor %}
                </table></td>
            <td><table class="table table-bordered table-striped" id="result_table">
                    <tr><th>
                            Student Answer
                        </th></tr>
                    {% for student in studentAnswer %}
                        <tr><td>
                                {{ student }}
                            </td></tr>
                    {% endfor %}
                </table></td>
            <td><table class="table table-bordered table-striped" id="result_table">
                    <tr><th>
                            Result
                        </th></tr>
                    {% for result in isCorrect %}
                        <tr><td class="text-center">
                                {% if result == 0 %}
                                    <label class="label label-danger">
                                    Wrong</label>
                                {% else %}
                                    <label class="label label-success">Correct</label>
                                {% endif %}
                            </td></tr>
                    {% endfor %}
                </table></td>
        </tr></table>


    <h2>Grade</h2>
        <div class="alert alert-info">
    {% for i in score %}
        {{ i.score }}
    {% endfor %}
            </div>
</div>
{% endblock %}