{% extends 'teacher/teacher_template.html.twig' %}

{% block css %}{% endblock %}

{% block body %}
    <div class="container">
<div>
    <a href="{{ path('teacher_make_question', {'teacherId': teacherId}) }}">back</a>
</div>
        <h2>Question: {{ question.question }}</h2>
        <table class="table table-bordered table-condensed">
            <tr>
                <td style="width:15%" class="text-right">
                    <b>Answer Options:</b>
                </td>
                <td style="width:85%">
                    {{ question.examples }}
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <b>Answers</b>
                </td>
                <td>
                    {{ question.answers }}
                </td>
            </tr>
        </table>
        <br>
    <div class="form-group">
        {{ form_start(editForm) }}
        {{ form_widget(editForm) }}
        {{ form_end(editForm) }}
    </div>
</div>
{% endblock %}