{% extends 'teacher/teacher_template.html.twig' %}

{% block css %}{% endblock %}

{% block body %}
    <h1>Here is page for exam result</h1>
    <a href="{{ path('teacher_exam_result', {'examId':examData.id}) }}"><button>Back</button></a>
    <h2>{{ examData.examTitle }}</h2>

    <table class="table"><tr>
            <td><table class="table">
                    <tr>
                        <th>
                            Question
                        </th>
                    </tr>{% set i = 0 %}
                    {% for question in questionData %}
                        <tr><td>
                                {% set i = i + 1 %}
                                Q{{ i }}
                                {{ question }}
                            </td></tr>
                    {% endfor %}
                </table></td>
            <td><table class="table">
                    <tr><th>
                            Answer
                        </th></tr>
                    {% for answer in answerData %}
                        <tr><td>
                                {{ answer }}
                            </td></tr>
                    {% endfor %}
                </table></td>
            <td><table class="table">
                    <tr><th>
                            Student Answer
                        </th></tr>
                    {% for student in studentAnswer %}
                        <tr><td>
                                {{ student }}
                            </td></tr>
                    {% endfor %}
                </table></td>
        </tr></table>


    <p>And here could come score</p>
    {% for i in score %}
        {{ i.score }}
    {% endfor %}

{% endblock %}