{% extends 'template.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}
<h1>Here comes teacher main </h1>
    <div>back menu</div>
    <div>teacher information</div>
    <div>here is for the make question</div>
    <P>
        <a href="{{ path("teacher_make_question", {'teacherId': teacherId}) }}"><button>Make Question</button></a>
    </P>
    <p>here could come for making exam with select</p>
    <p>
        <a href="{{ path("teacher_make_exam", {'teacherId': teacherId}) }}"><button>Make Exam with selection</button></a>
    </p>
    <p>here could come for making exam with random</p>
    <p>
        <a href="{{ path("teacher_make_exam_random", {'teacherId': teacherId}) }}"><button>Make Exam randomly</button></a>
    </p>


    <P>Here could come some exams and publishing</P>
    {% for exam in exams %}
        {{ exam.examTitle }}
        {#{{ exam.questionIds }}#}
        {{ exam.date | date('d.m.Y') }}
        {% if exam.ispublished == false %}
        <button>publish</button>
        {% else %}<button>Close</button>
        {% endif %}
        <br>
    {% endfor %}

{% endblock %}