{% extends 'template.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <h1>Here is page for exam</h1>
    <a href="{{ path('exam_main', {'studentId':studentId}) }}"><button>Back</button></a>
<form action="{{ path('exam_result', {'studentId' : studentId, 'questionIds' : examData.questionIds, 'examId' : examData.id}) }}" method="POST">
<h2>{{ examData.examTitle }}</h2>
    {% if examData.isPublished == 1 %}
    {% set questionIdArray = examData.questionIds|split(',') %}
    {% for j in questionIdArray %}
    <div class="container">
        <table class="table">
            {% for questions in questions %}
                {% if j == questions.id %}
                <tr><td>
                        <table class="table table-striped">
                            <tr>
                                <td class="text-right"><b>Category: </b></td>
                                <td>{{ questions.category }}</td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>Question: </b></td>
                                <td id="{{ questions.id }}">{{ questions.question }}</td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>Answer: </b></td>
                                <td>
                                    {#in here still need to figure out when example has only one 25.9#}
                                    {%   set exampleArray = questions.examples|split(',') %}
                                    {% for i in exampleArray %}
                                        {% if i|length == 0%}
                                            <input type="text" id="answer{{ questions.id }}[]" name="answer{{ questions.id }}[]">
                                        {% else %}
                                            <input type="checkbox" id="answer{{ questions.id }}[]" name="answer{{ questions.id }}[]" value="{{ i }}"> {{ i }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td></tr>
                {% endif %}
            {% endfor %}
    {% endfor %}
        <tr><td>
                <button type="submit">submit</button>
            </td></tr>
        </table>
    </div></form>
        {% else %}
        Sorry, This exam has not published yet.
    {% endif %}

{% endblock %}